/_build
# TODO better build isolation to improve this mess
/notebooks/*
!/notebooks/oci
/notebooks/oci/*
!/notebooks/harp2
/notebooks/harp2/*
!/notebooks/spexone
/notebooks/spexone/*
!/notebooks/modis
/notebooks/modis/*
!/notebooks/hackweek
/notebooks/hackweek/*
!/notebooks/**/*.md
